/* IMPORT LAYOUTS */
@import url(./LAYOUTS/Header.css);
@import url(./LAYOUTS/Footer.css);

/* IMPORT BASE */
@import url(../BASE/Base.css);
@import url(../BASE/Button.css);
@import url(../BASE/Form.css);


.header, .main{
    padding: 0 120px;   
}

.main{
    padding-top: 140px;
}

.signOutOverlay,
.cartOverlay,
.address-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/* ======================= */
/* MAIN START*/

/* ==================== */
/* ACCOUNT INFORMATION */
.container{
    display: block;
    padding-top: 140px;
    margin-bottom: 46px;
    margin-left: 120px;
    margin-right: 120px;
}
.main__account{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    border-radius: 10px;

}

.main__account__left{
    background-color: var(--color-theme);
    flex: 1.2;
}

.main__account__left__infor{
    font-weight: 700;
    padding: 32px 15px 24px;
    text-align: center;
}

.main__account__left__ava{
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    margin: 0 auto 16px;
    font-size: 50px;
}

.main__account__left__infor p,
.main__account__left__infor h2{
    font-size: 16px;
    color: white;
}

.main__account__left__infor p{
    font-weight: 400;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.main__account__left__infor__menu{
    display: flex;
    flex-direction: column;
}

/* .main__account__left__menu-list>a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
} */

.main__account__left a{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
}


.active-account{
    background-color: rgba(255, 255, 255, .2);
    font-weight: 700;
}

.main__account__right{
    flex: 4;
}

.main__account__right__header h1{
    border-bottom: 1px solid #FF9EA2;
    font-size: 24px;
    font-weight: 700;
    padding: 24px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__account__right__content{
    padding: 32px 24px 40px;
}

.main__account__right__content h2{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.input-group{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.input-group input{
    width: 50%;
    border: 1px solid var(--color-theme);
    padding: 7px 10px;
    border-radius: 5px;
    height: 40px;
}

.btns{
    display: flex;
    padding-top: 20px;

}

.btns button{
    width: 160px;
    margin-right: 10px;
    font-weight: 600;
}

/* ================== */
/* SHIPPING ADDRESS */
.main__account__right__content__address div{
    margin-bottom: 7px;
}

.add-address{
    background-color: transparent;
    color: var(--color-theme);
    font-size: 16px;
    width: 80px;
    position: absolute;
    right: 0;
}

.home-address{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.main__account__right__content__address footer{
    background: #FF9EA2;
    font-size: 16px;
    padding: 7px 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 4px;
}

.address-overlay{
    display: none;
}

.open-addressOverlay{
    display: flex;
}

.address-form{
    background-color: var(--background-color);
    width: 800px;
}

/* MAIN END*/

/* =============== */
/* CART */

.cartOverlay{
    background-color: rgba(0, 0, 0, 0);
    justify-content: end;
}

.cartModal{
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 400px;
    height: 400px;
    animation: slidein 0.2s linear;
    display: flex;
    flex-direction: column;
}

.cartModal >strong{
    font-size: 26px;
    padding: 10px 0 0 15px;
}

.cart__content{
    padding: 0 15px;
    flex: 1;
    scrollbar-color: blue transparent;
    overflow-y: auto;
}

.cart__content__listItem{
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #eee ;
}

.img-cart{
    margin-right: 15px;
}

.img-cart>a>img{
    max-width: 100px;
}

.fa-trash{
    position: absolute;
    right: 0;
    bottom: 28%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.details-cart a{
    font-size: 16px;
    font-weight: 500;
}

.details-cart p{
    font-size: 16px;
}


.quantity-btn{
    padding: 2px;
    width: 35px;
}

.quantity-group > p{
    margin: 0 5px;
}

.cart__footer{
    background-color: white;
}

.totalPrice{
    padding: 15px;
    justify-content: space-between;
    font-size: 18px;
}

.payment{
    background-color: var(--color-theme);
}

.payment a{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;  
    display: block;
    text-align: center;
    
}

@keyframes slidein {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
}



/* ==================== */
/* SIGN OUT */

.signOutOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}


.signOutModal{
    border-radius: 20px;
    background: url("https://www.lotteria.vn/grs-static/images/bg-3.png") 50% 50% #fff;
    padding: 24px;
}

.signOutModal img{
    max-height: 220px;
    max-width: 100%;
    
}

.signOutModal p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.signOutModal__confirm{
    display: flex;
    align-items: center;
    gap: 20px;
}

.signOutModal__confirm-cancel{
    background-color: white;
    border: 1px solid var(--color-theme);
    color: var(--color-theme);
    font-weight: 700;
    width: 100%;
}


.signOutModal__confirm-ok{
    color: white;
    font-weight: 700;
    width: 100%;
}

/* =================== */
/* HOVER */

.header__left__nav >li:hover a{
    color: var(--color-theme);
    border-bottom: 3px solid var(--color-theme);
}

.header__language__inner:hover{
    color: #2f80ed;
}

.header__right__down > li>a:hover{
    cursor: pointer;
    opacity: 0.6;
}

.sub__menu__account > li> a:hover{
    opacity: 0.6;
}

.footer__right__content a:hover{
    color: var(--color-theme) ;
}

.main__account__left__menu-list:hover{
    background-color: rgba(255, 255, 255, .2);
}